/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.card-root {
  padding: 1rem;
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-root div {
  position: relative;
}

img {
  width: 100%;
  /* position: relative; */
}

.card-img .date {
  top: 10px;
  left: 10px;
}

h6 {
  display: inline;
  position: absolute;
  background-color: #e74d38;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  left: 0;
  /* bottom: 8px; */
  padding: 5px;
  top: 209.5px;
}
span {
  position: absolute;
  top: 23px;
  /* left: 0px; */
  right: 10px;
  background-color: #e74d38;
  border-radius: 33px;
  padding: 14px;
  width: 52px;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
h2 {
  font-size: xx-large;
  font-weight: bolder;
}

h3 {
  font-weight: 400;
  font-size: x-large;
  color: #e74d38;
}

p {
  color: #656565;
  font-weight: 400;
  margin: 1rem 0;
}

h5 {
  margin: 1rem 0;
  color: #999999;
}
